<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Map</title>
    {{mymap|safe}}
    <style>
      #search {
        position: absolute;
        z-index: 1000;
        background-color: #fff;
        padding: 5px;
        border-radius: 5px;
        box-shadow: 0 2px 6px rgba(0,0,0,0.3);
        font-size: 16px;
        font-family: Arial, sans-serif;
        width: 400px;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
      }
    </style>
  </head>
  <body>
    <div id="search">
      <input type="text" id="address" placeholder="Enter address">
      <button id="submit">Search</button>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
$(function() {
  $('#submit').click(function() {
    var address = $('#address').val();
    console.log('Address entered:', address); // Add this line to log the entered address to the console
    $.ajax({
      url: '/search',
      data: {'address': address},
      success: function(response) {
        $('#address').val('');
        $('body').html(response);
      }
    });
  });
});

    </script>
  </body>
</html>
